<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550828486-68812fa3f966?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <div class="container banner-container">
    <h1>Game on brings new adventures to true gamers!</h1>
    <p>Gamers don't die, they respawn</p>
    <a class="btn-black btn-end" href="#">More Games</a>
  </div>
</div>
