<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550828486-68812fa3f966?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <div class="container banner-container">
    <h1>Game on brings new adventures to true gamers!</h1>
    <p>Gamers don't die, they respawn</p>
    <a class="btn-black btn-end" href="#">More Games</a>
  </div>
</div>

<h2 class="mt-2" style="text-align:center;">Offers🎉</h2>
<div class="container m-5">
    <div class="row m-4">
          <div class="col-3 p-3">
            <div class="card-trip">
              <div class="background-card-image" style="background-image: url(https://image.smythstoys.com/zoom/202435.jpg);"></div>
                <div class="card-trip-infos">
                    <h2>Horizon Forbidden West</h2>
                    <p> abcbababdsfdsefsfefsefe</p>
                    <p>Playstation 5</p>
                    <p>⭐ 4.5</p>
                  <h2 class="card-trip-pricing">￡ 13.3<span style="color: red; margin-left: 50px;">NOW ￡10.5 </span></h2>
                </div>
            </div>
          </div>

                  <div class="col-3 p-3">
            <div class="card-trip">
              <div class="background-card-image" style="background-image: url(https://image.smythstoys.com/zoom/202435.jpg);"></div>
                <div class="card-trip-infos">
                    <h2>Horizon Forbidden West</h2>
                    <p> abcbababdsfdsefsfefsefe</p>
                    <p>Playstation 5</p>
                    <p>⭐ 4.5</p>
                  <h2 class="card-trip-pricing">￡ 13.3<span style="color: red; margin-left: 50px;">NOW ￡10.5 </span></h2>
                </div>
            </div>
          </div>

                  <div class="col-3 p-3">
            <div class="card-trip">
              <div class="background-card-image" style="background-image: url(https://image.smythstoys.com/zoom/202435.jpg);"></div>
                <div class="card-trip-infos">
                    <h2>Horizon Forbidden West</h2>
                    <p> abcbababdsfdsefsfefsefe</p>
                    <p>Playstation 5</p>
                    <p>⭐ 4.5</p>
                  <h2 class="card-trip-pricing">￡ 13.3<span style="color: red; margin-left: 50px;">NOW ￡10.5 </span></h2>
                </div>
            </div>
          </div>

            <div class="col-3 p-3">
            <div class="card-trip">
              <div class="background-card-image" style="background-image: url(https://image.smythstoys.com/zoom/202435.jpg);"></div>
                <div class="card-trip-infos">
                    <h2>Horizon Forbidden West</h2>
                    <p> abcbababdsfdsefsfefsefe</p>
                    <p>Playstation 5</p>
                    <p>⭐ 4.5</p>
                  <h2 class="card-trip-pricing">￡ 13.3<span style="color: red; margin-left: 50px;">NOW ￡10.5 </span></h2>
                </div>
            </div>
          </div>
        </div>
      </div>
