<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550828486-68812fa3f966?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <div class="container banner-container">
    <h1>Game on brings new adventures to true gamers!</h1>
    <p>Gamers don't die, they respawn</p>
    <a class="btn-black glow-on-hover btn-end" <%= link_to "More Games", games_path %> > </a>
  </div>
</div>

<h2 class="mt-2" style="text-align:center;">OffersðŸŽ‰</h2>
<div class="container m-5">
  <div class="row d-flex justify-content-between">
    <div class="card-trip">
      <div class="background-card-image" style="background-image: url(http://cdn.mos.cms.futurecdn.net/CM86wiwoiFfLqqBndyHkGe.jpg);"></div>
        <div class="card-trip-infos">
          <h2>Horizon Forbidden West</h2>
          <p class="mt-1">A young huntress of the Nora tribe sent on a quest to the arcane frontier known as the Forbidden West.</p>
          <div class="container d-flex justify-content-between">
            <p class="mt-3"><%= 'â­' * 4 %></p>
            <svg style="width: 50px;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>PlayStation 5</title><path d="M10.4499 14.56905a1.38287 1.38287 0 001.38287-1.38287v-2.37841a.83315.83315 0 01.83416-.83315h2.68403a.03732.03732 0 00.03631-.03732V9.4612a.03631.03631 0 00-.0363-.0363H12.1172a1.38287 1.38287 0 00-1.38388 1.38286v2.38043a.83416.83416 0 01-.83315.83415H7.25347a.03631.03631 0 00-.03631.03632v.47608a.03631.03631 0 00.03631.03631zm6.04488-3.21156V9.4612a.03631.03631 0 01.0363-.0363h7.30772a.03732.03732 0 01.03732.0363v.47609a.03833.03833 0 01-.03732.03732h-6.20929a.03631.03631 0 00-.0363.03631v1.2356a.3954.3954 0 00.3964.39741h4.62267a1.46457 1.46457 0 010 2.9251h-6.0812a.03631.03631 0 01-.0363-.0363v-.47407a.03631.03631 0 01.0363-.03632h5.53047a.91586.91586 0 10-.00706-1.8307h-4.72656a.83315.83315 0 01-.83315-.83416m-10.84608.28645a.83466.83466 0 000-1.66932H.03654a.03732.03732 0 01-.03632-.03732V9.4612a.03631.03631 0 01.03632-.0363h6.1528a1.38388 1.38388 0 010 2.76673H1.9328a.83315.83315 0 00-.83315.83416v1.51299a.03631.03631 0 01-.03631.0363H.03654a.03631.03631 0 01-.03632-.04034v-1.51298a1.38287 1.38287 0 011.38388-1.37783Z"/></svg>
          </div>
          <div class="container prices d-flex justify-content-between mt-2">
            <p>Â£ 15.25</p>
            <p style="color: red;"><strong>NOW Â£ 10.25</strong></p>
          </div>
        </div>
      </div>

    <div class="card-trip">
      <div class="background-card-image" style="background-image: url(https://s3.gaming-cdn.com/images/products/2618/orig/game-nintendo-super-mario-odyssey-switch-cover.jpg);"></div>
        <div class="card-trip-infos">
          <h2>Super Mario Odyssey</h2>
          <p class="mt-1">Jump out of the Mushroom Kingdom on a journey through mysterious places and new experiences whilst sailing between worlds aboard an airship.</p>
          <div class="container d-flex justify-content-between">
            <p class="mt-3"><%= 'ðŸ’œ' * 4 %></p>
            <svg style="width: 50px;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Nintendo Switch</title><path d="M14.176 24h3.674c3.376 0 6.15-2.774 6.15-6.15V6.15C24 2.775 21.226 0 17.85 0H14.1c-.074 0-.15.074-.15.15v23.7c-.001.076.075.15.226.15zm4.574-13.199c1.351 0 2.399 1.125 2.399 2.398 0 1.352-1.125 2.4-2.399 2.4-1.35 0-2.4-1.049-2.4-2.4-.075-1.349 1.05-2.398 2.4-2.398zM11.4 0H6.15C2.775 0 0 2.775 0 6.15v11.7C0 21.226 2.775 24 6.15 24h5.25c.074 0 .15-.074.15-.149V.15c.001-.076-.075-.15-.15-.15zM9.676 22.051H6.15c-2.326 0-4.201-1.875-4.201-4.201V6.15c0-2.326 1.875-4.201 4.201-4.201H9.6l.076 20.102zM3.75 7.199c0 1.275.975 2.25 2.25 2.25s2.25-.975 2.25-2.25c0-1.273-.975-2.25-2.25-2.25s-2.25.977-2.25 2.25z"/></svg>
          </div>
          <div class="container prices d-flex justify-content-between mt-2">
            <p>Â£ 15.25</p>
            <p style="color: red;"><strong>NOW Â£ 10.25</strong></p>
          </div>
        </div>
      </div>

      <div class="card-trip">
      <div class="background-card-image" style="background-image: url(https://www.mobygames.com/images/covers/l/26186-halo-combat-evolved-windows-other.jpg);"></div>
        <div class="card-trip-infos">
          <h2>Halo</h2>
          <p class="mt-1">Halo is a military science fiction media franchise created by Bungie.</p>
          <div class="container d-flex justify-content-between">
            <p class="mt-3"><%= 'ðŸ’œ' * 4 %></p>
            <svg style="width: 50px;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Xbox</title><path d="M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z"/></svg>
          </div>
          <div class="container prices d-flex justify-content-between mt-2">
            <p>Â£ 15.25</p>
            <p style="color: red;"><strong>NOW Â£ 10.25</strong></p>
          </div>
        </div>
      </div>

  </div>



</div>
