// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "card_product";
@import "banner";
@import "buttons";
@import "footer";
@import "bookingcard";
@import "flashes";
@import "_search_form";

body {
  background: $light-grey;
  background-image: url("https://unsplash.com/photos/9AmKnNZw3GA");
}

.games-page {
  background-image: url("/Users/ines_oliveira/code/InesOliveira11/GAME_ON/app/assets/images/background-booking-card.png");
  height: calc(100vh-66px);
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: opacity(50%);
}
